@import "tailwindcss";
@plugin "daisyui"{
  themes: light --default
}
@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: #CAEB66;
  --color-secondary: #DADADA;
  --color-accent: #03373D;
}

/* body {
  background-color: white;
} */
